body h1 {
    font-family: 'Honk', cursive;
    font-size: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}

body {
    background-image: url("new.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    text-align: center;
    margin-top: 10px;
}
#player1Image{
    width:400px;
    height: 270px;
    display: block;
}
#player2Image{
    width:400px;
    display: block;
    height:270px;

}
 
#player1Area , #player2Area{
    margin: auto;
}

.view {
    display: none;
}

.view.active {
    display: block;
}

#next {
    display: none;
}

#Submit1 {
    display: none;
}

#container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(183, 196, 191, 0.27);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    font-family: 'Bangers';
    font-size: xx-large;
}

#container input[type="text"],
#container input[type="password"] {
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 5px;
    font-family: 'Bangers', sans-serif;
    font-size: x-large;
}

#container button,
#container span {
    margin: 10px 0;
}

button {
    align-items: center;
    appearance: none;
    background-color: rgb(244, 247, 158);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Press Start 2P', 'VT323', sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

fieldset {
    margin-top: 20px;
}

#outt {
    color: rgba(255, 103, 103, 0.955);
}

#info {
    color: rgb(85, 232, 215);
}

#restart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 34px;
    width: 200px;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    cursor: pointer;
}

#restart:hover {
    background: #ff362b52;
}

#restart:hover .svg-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#restart {
    display: none;
}

input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    border-top: none;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
}

input[type="password"] {
    width: 80px !important;
}

.coin {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.coin img {
    width: 145px;
}

.heads,
.tails {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg);
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(2160deg);
    }
}
.board{
    background-color: rgba(255, 0, 119, 0.461);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
}
#displayArea2-a{
    margin: auto;
}